@*@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
    @using ContentModels = Umbraco.Web.PublishedContentModels;
    @using Newtonsoft.Json.Linq
    @{
        Layout = "Master.cshtml";
        var AdministrationUrl = @HttpContext.Current.Request.Url + "umbraco";
        var temp = @Model.Content.FooterHeader;
        var backgroundImage = Model.Content.HeroBackgroundImage != null ? Model.Content.HeroBackgroundImage.Url : String.Empty;
    }
    <section class="section section--full-height background-image-full overlay overlay--dark section--content-center section--thick-border"
             style="background-image: url('@backgroundImage')">
        <div class="section__hero-content">
            <h1>@Model.Content.HeroHeader</h1>
            <p class="section__description">@Model.Content.HeroDescription</p>
            <a class="button button--border--solid" href="@AdministrationUrl">Start with Tinifier</a>
        </div>
    </section>

    <section class="section section--themed">
    <div class="container">
        <div class="row">
            <div class="ta-center">
                <h2>@Model.Content.FooterHeader</h2>
            </div>
        </div>
    </div>
    @*</section>*@

//**************************************************************************


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.png">
    <title>Meminz download software landing page</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom bootstrap styles -->
    <link href="css/overwrite.css" rel="stylesheet">
    <!-- Font -->
    <link href="fonts/open-sans/stylesheet.css" rel="stylesheet">

    <!-- Font icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="fonts/pe-icon-7-stroke/css/helper.css" rel="stylesheet">

    <!-- Animate css -->
    <link href="css/animate.css" rel="stylesheet">

    <!-- prettyPhoto -->
    <link href="css/prettyPhoto.css" rel="stylesheet" />

    <!-- flexslider -->
    <link href="css/flexslider.css" rel="stylesheet">
    <!-- Owl carousel -->
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
    <link href="css/owl.transitions.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Theme skin -->
    <link href="skins/default.css" rel="stylesheet" />
</head>
<body>
    <!-- Start preloading -->
    <div id="loading" class="loading-invisible">
        <i class="pe-7s-refresh pe-spin pe-3x pe-va"></i><br />
        <p>Please wait...</p>
    </div>
    <!-- End preloading -->
    <!-- Start header -->
    <header>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @*<a class="navbar-brand" href="#"><img src="img/logo.png" alt="" /></a>*@
                    <a class="navbar-brand" href="#">
                        <img src="img/tinifier_2-01.svg" alt="tinifier_2-01svg" width="250" height="50" >
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a id="GoToHome" href="#home" class="selected">Home</a></li>
                        <li><a href="https://tinifier.backend-devs.com">Get More About Tinifier</a></li>
                        @*<li><a id="GoToFeatures" href="#features">Features</a></li>
                            <li><a id="GoToDesc" href="#description">Description</a></li>
                            <li><a id="GoToGallery" href="#screenshot">Screenshot</a></li>
                            <li><a id="GoToPricing" href="#pricing">Pricing</a></li>
                            <li><a id="GoToTestimoni" href="#testimoni">Testimoni</a></li>
                            <li><a id="GoToContact" href="#contact">Contact</a></li>*@
                    </ul>
                    <div class="navbar-right">
                        <a style="text-transform: none;" rel="noopener" href="https://github.com/dimonser147/UmbracoTinifier" target="_blank" class="btn btn-bordered">&nbsp;GitHub</a>
                        <a href="http://eepurl.com/dbcmof" class="btn btn-primary">Subscribe</a>
                    </div>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </header>
    <!-- End header -->
    <!-- End home -->
    <section id="home" class="home-wrapper">
        <div class="video-background">
            <!-- Start video background -->
            <a id="bgndVideo" class="player" data-property="{videoURL:'e8DFN3m8XGQ',containment:'.video-background', showControls:false, autoPlay:true, loop:false, mute:true, startAt:10, opacity:1, addRaster:false, quality:'default'}">My video</a>
            <!-- End video background -->
            <div class="container">
                <div class="row text-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="col-md-10 col-md-offset-1">
                        <h3>Try Tinifier package now! <span>Username: test, Password: %%%</span></h3>
                        <p class="btn-inline">
                            <a href="http://trytinifier.backend-devs.com/umbraco" class="btn btn-bordered btn-lg">Open Back-office</a>
                            <a href="https://our.umbraco.org/projects/backoffice-extensions/tinifier/" class="btn btn-primary btn-lg">Download for free</a>
                        </p>
                        <div class="home-slider">
                            <div class="slider-wrapper">
                                <div class="imac-device">
                                    <ul class="slides">
                                        <li>
                                            <div class="video-container">
                                                @*<div class="youTubeEmbed"></div>*@
                                                <iframe width="640" height="360" src="//www.youtube.com/embed/l_8_EcBKwhg" frameborder="0" allowfullscreen></iframe>
                                            </div>
                                        </li>
                                        @*<li>
                                                <a href="#"><img src="img/slider/img2.png" alt="" /></a>
                                            </li>
                                            <li>
                                                <a href="#"><img src="img/slider/img3.png" alt="" /></a>
                                            </li>
                                            <li>
                                                <a href="#"><img src="img/slider/img4.png" alt="" /></a>
                                            </li>*@
                                    </ul>
                                </div>
                            </div>
                            <img src="img/imac.png" class="img-responsive" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End home -->

    <div class="clearfix"></div>
    <!-- Start features copy-->
    <section id="features" class="contain desc-wrapp gray-bg">
            @*<div class="container">
                <div class="row text-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="heading"><span>Features</span>The featurers of meminz</h3>
                    </div>
                </div>
                <div class="row wow fadeInDown" data-wow-delay="0.4s">
                    <div class="col-md-4 feature-box">
                        <i class="pe-7s-phone pe-feature"></i>
                        <h5>Responsive design</h5>
                        <p>
                            Eu sit soluta antiopam, postea sanctus in an vis. Pro primis insolens recteque ne, nostrum molestie splendide sed et elitr.
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                    <div class="col-md-4 feature-box">
                        <i class="pe-7s-edit pe-feature"></i>
                        <h5>Easy to customize</h5>
                        <p>
                            Eu sit soluta antiopam, postea sanctus in an vis. Pro primis insolens recteque ne, nostrum molestie splendide sed et elitr.
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                    <div class="col-md-4 feature-box">
                        <i class="pe-7s-graph1 pe-feature"></i>
                        <h5>Modern design</h5>
                        <p>
                            Eu sit soluta antiopam, postea sanctus in an vis. Pro primis insolens recteque ne, nostrum molestie splendide sed et elitr.
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                    <div class="col-md-4 feature-box">
                        <i class="pe-7s-paper-plane pe-feature"></i>
                        <h5>Easy tools navigation</h5>
                        <p>
                            Eu sit soluta antiopam, postea sanctus in an vis. Pro primis insolens recteque ne, nostrum molestie splendide sed et elitr.
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                    <div class="col-md-4 feature-box">
                        <i class="pe-7s-share pe-feature"></i>
                        <h5>Popular of the year</h5>
                        <p>
                            Eu sit soluta antiopam, postea sanctus in an vis. Pro primis insolens recteque ne, nostrum molestie splendide sed et elitr.
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                    <div class="col-md-4 feature-box">
                        <i class="pe-7s-paperclip pe-feature"></i>
                        <h5>PSD file included</h5>
                        <p>
                            Eu sit soluta antiopam, postea sanctus in an vis. Pro primis insolens recteque ne, nostrum molestie splendide sed et elitr.
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                </div>
            </div>*@
        </section>
    <!-- End features -->
    <!-- Start features -->
    @*<section id="features" class="contain desc-wrapp gray-bg">
            <div class="container">
                <div class="row text-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="heading"><span>Features</span>The featurers of meminz</h3>
                    </div>
                </div>
                <div class="row wow fadeInDown" data-wow-delay="0.4s">
                    <div class="col-md-4 feature-box">
                        <i class="pe-7s-phone pe-feature"></i>
                        <h5>Responsive design</h5>
                        <p>
                            Eu sit soluta antiopam, postea sanctus in an vis. Pro primis insolens recteque ne, nostrum molestie splendide sed et elitr.
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                    <div class="col-md-4 feature-box">
                        <i class="pe-7s-edit pe-feature"></i>
                        <h5>Easy to customize</h5>
                        <p>
                            Eu sit soluta antiopam, postea sanctus in an vis. Pro primis insolens recteque ne, nostrum molestie splendide sed et elitr.
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                    <div class="col-md-4 feature-box">
                        <i class="pe-7s-graph1 pe-feature"></i>
                        <h5>Modern design</h5>
                        <p>
                            Eu sit soluta antiopam, postea sanctus in an vis. Pro primis insolens recteque ne, nostrum molestie splendide sed et elitr.
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                    <div class="col-md-4 feature-box">
                        <i class="pe-7s-paper-plane pe-feature"></i>
                        <h5>Easy tools navigation</h5>
                        <p>
                            Eu sit soluta antiopam, postea sanctus in an vis. Pro primis insolens recteque ne, nostrum molestie splendide sed et elitr.
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                    <div class="col-md-4 feature-box">
                        <i class="pe-7s-share pe-feature"></i>
                        <h5>Popular of the year</h5>
                        <p>
                            Eu sit soluta antiopam, postea sanctus in an vis. Pro primis insolens recteque ne, nostrum molestie splendide sed et elitr.
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                    <div class="col-md-4 feature-box">
                        <i class="pe-7s-paperclip pe-feature"></i>
                        <h5>PSD file included</h5>
                        <p>
                            Eu sit soluta antiopam, postea sanctus in an vis. Pro primis insolens recteque ne, nostrum molestie splendide sed et elitr.
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- End features -->

    <div class="clearfix"></div>

    <!-- Start description -->
    @*<section id="description" class="contain">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 wow fadeInLeft" data-wow-delay="0.4s">
                        <img src="img/device.png" class="img-responsive" alt="" />
                    </div>
                    <div class="col-md-5 margintop40 wow fadeInRight" data-wow-delay="0.4s">
                        <div class="accordion clearfix" id="accordion1">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        <i class="pe-7s-angle-down"></i> Product knowlage
                                    </a>
                                </div>
                                <div id="collapse1" class="accordion-body collapse in">
                                    <div class="accordion-inner">
                                        <p>
                                            Sed modus munere menandri ad. Te ius vero qualisque concludaturque. Sed ne vide fastidii incorrupte, elitr soleat intellegebat eam at. Aperiri facilis in pro, vis idque harum ex, ex vocent utroque similique vix choro moderatius consequuntur sit te, has veri salutatus te. Labore graecis aliquando ad sed. Accusam constituto honestatis et eos.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        <i class="pe-7s-angle-down"></i> How to get it
                                    </a>
                                </div>
                                <div id="collapse2" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <p>
                                            Ea qui facete corpora honestatis. Eu sit soluta antiopam, postea sanctus incorrupte an vis. Pro primis insolens recteque no. Pro ei nostrum molestie splendide. Sed et elitr zril, harum euismod nam ad, velit sadipscing quo ad. Duo facer solet deleniti an, nec quis oportere efficiendi an, et regione principes comprehensam qui.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                        <i class="pe-7s-angle-down"></i> Product license
                                    </a>
                                </div>
                                <div id="collapse3" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <p>
                                            Lorem ipsum dolor sit amet, eros accumsan intellegam cu eum, sed te docendi blandit. In primis lucilius mea, alii oratio numquam ei qui. Eam at quas mnesarchum. An adhuc consequat mel, usu in utroque dolorem. Nam diceret aliquam singulis no. Delenit temporibus scribentur eum eu. Labore graecis aliquando ad sed accusam constituto honestatis et eos.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- End description -->

    <div class="clearfix"></div>

    <!-- Start counter -->
    @*<section id="counter-wrapper">
            <div class="counter-contain">
                <div class="container">
                    <div class="row text-center appear stats wow fadeInUp" data-wow-delay="0.4s">
                        <div class="col-md-12">
                            <h3>More than 1000 user use meminz</h3>
                            <p>Minimum albucius detraxit qui veniam equidem eum in constituam</p>
                        </div>
                    </div>
                    <div class="row text-center appear stats wow fadeInDown" data-wow-delay="0.4s">
                        <div class="col-md-2 col-md-offset-2">
                            <span id="counter-download" class="counter-number">1200</span>
                            <span class="counter-text">Downloader</span>
                        </div>
                        <div class="col-md-2">
                            <span id="counter-view" class="counter-number">625</span>
                            <span class="counter-text">Windows user</span>
                        </div>
                        <div class="col-md-2">
                            <span id="counter-android" class="counter-number">348</span>
                            <span class="counter-text">Android user</span>
                        </div>
                        <div class="col-md-2">
                            <span id="counter-ios" class="counter-number">227</span>
                            <span class="counter-text">IOS user</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- End counter -->

    <div class="clearfix"></div>

    <!-- Start screenshot -->
    @*<section id="screenshot" class="contain">
            <div class="container">
                <div class="row text-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="col-md-10 col-md-offset-1 wow fadeInUp" data-wow-delay="0.4s">
                        <h3 class="heading"><span>Secreenshot</span> Our product screenshot</h3>
                    </div>
                </div>
            </div>
            <div id="screenshot-contain" class="wow fadeInDown" data-wow-delay="0.4s">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="screenshot-slider">
                                <div class="screenshot-wrapper">
                                    <div class="flexslider text-center">
                                        <ul class="slides">
                                            <li>
                                                <a href="#"><img src="img/screenshot/img1.png" alt="" /></a>
                                            </li>
                                            <li>
                                                <a href="#"><img src="img/screenshot/img2.png" alt="" /></a>
                                            </li>
                                            <li>
                                                <a href="#"><img src="img/screenshot/img3.png" alt="" /></a>
                                            </li>
                                            <li>
                                                <a href="#"><img src="img/screenshot/img4.png" alt="" /></a>
                                            </li>
                                            <li>
                                                <a href="#"><img src="img/screenshot/img5.png" alt="" /></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <img src="img/browser.png" class="img-responsive" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- End screenshot -->

    <div class="clearfix"></div>

    <!-- Start pricing -->
    @*<section id="pricing" class="contain gray-bg">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-10 col-md-offset-1 wow fadeInUp" data-wow-delay="0.4s">
                        <h3 class="heading"><span>Pricing table</span>Choose download package</h3>
                    </div>
                </div>
                <div class="row wow fadeInDown" data-wow-delay="0.4s">
                    <div class="col-md-4">
                        <div class="pricing-wrapper">
                            <div class="pricing-head">
                                <span class="pricing-price">$0</span>
                                <h4>Free</h4>
                                <p>Free trial 30 days</p>
                            </div>
                            <ul>
                                <li><strong>30 day</strong> trail</li>
                                <li><strong>No</strong> support</li>
                                <li><strong>No</strong> update</li>
                                <li><strong>1 user</strong> accses</li>
                                <li><strong>32 MB</strong> bandwidth</li>
                                <li><strong>1 user</strong> only</li>
                                <li><strong>No</strong> security</li>
                            </ul>
                            <div class="pricing-bottom">
                                <a href="#" class="btn btn-default btn-bordered btn-lg">Get it now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing-wrapper">
                            <div class="pricing-head popular">
                                <span class="pricing-price">$17</span>
                                <h4>Personal</h4>
                                <p>Best for personal</p>
                            </div>
                            <ul>
                                <li><strong>Unlimited</strong> use</li>
                                <li><strong>Free</strong> support</li>
                                <li><strong>Free</strong> update</li>
                                <li><strong>Up to 10 user</strong> accses</li>
                                <li><strong>10 GB</strong> bandwidth</li>
                                <li><strong>Up to 10 user</strong> only</li>
                                <li><strong>security</strong> suite</li>
                            </ul>
                            <div class="pricing-bottom">
                                <a href="#" class="btn btn-primary btn-lg">Get it now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing-wrapper">
                            <div class="pricing-head">
                                <span class="pricing-price">$35</span>
                                <h4>Business</h4>
                                <p>Best for corporate</p>
                            </div>
                            <ul>
                                <li><strong>Unlimited</strong> use</li>
                                <li><strong>Free</strong> support</li>
                                <li><strong>Free</strong> update</li>
                                <li><strong>Up to 40 user</strong> accses</li>
                                <li><strong>100 GB</strong> bandwidth</li>
                                <li><strong>Up to 100 user</strong> only</li>
                                <li><strong>security</strong> suite</li>
                            </ul>
                            <div class="pricing-bottom">
                                <a href="#" class="btn btn-default btn-bordered btn-lg">Get it now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- End pricing -->

    <div class="clearfix"></div>

    <!-- Start download -->
    @*<section id="download">
            <div class="download-wrapper">
                <div class="container">
                    <div class="row wow fadeInUp" data-wow-delay="0.4s">
                        <div class="col-md-8 col-md-offset-2">
                            <h3>Try for Free 30 days</h3>
                            <p>Risk Free. 60 Day Money Back Guarantee.</p>
                            <form>
                                <fieldset class="subscribe-form">
                                    <input class="subscribe" type="text" placeholder="Enter your email address">
                                    <button class="subscribe-button" type="button">Download</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- End download -->

    <div class="clearfix"></div>

    <!-- Start testimoni -->
    @*<section id="testimoni" class="contain">
            <div class="container">
                <div class="row text-center wow fadeInUp" data-wow-delay="0.4s">
                    <div class="col-md-12">
                        <h3 class="heading"><span>Testimonials</span>People said about meminz</h3>
                    </div>
                </div>
            </div>
            <div id="owl-testimoni" class="owl-carousel wow fadeInDown" data-wow-delay="0.4s">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="testimonial">
                                <blockquote>
                                    Sed modus munere menandri ius vero qualisque concludaturque ne vide fastidii incorrupte.
                                </blockquote>
                                <span class="testimoni-sparator"></span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="testimoni-author">
                                <div class="author-info">
                                    <h5>Alfatih</h5>
                                    <p><a href="#">99webpage owner</a></p>
                                </div>
                                <img src="img/testimoni/avatar1.png" alt="" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="testimonial">
                                <blockquote>
                                    Duo facer solet deleniti an, nec quis oportere efficiendi an regione principes.
                                </blockquote>
                                <span class="testimoni-sparator"></span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="testimoni-author">
                                <div class="author-info">
                                    <h5>Ence iif</h5>
                                    <p><a href="#">99webpage founder</a></p>
                                </div>
                                <img src="img/testimoni/avatar2.png" alt="" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="testimonial">
                                <blockquote>
                                    Choro moderatius consequuntur sit te, has veri salutatus te abore graecis aliquando.
                                </blockquote>
                                <span class="testimoni-sparator"></span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="testimoni-author">
                                <div class="author-info">
                                    <h5>Rinna N</h5>
                                    <p><a href="#">99webpage manager</a></p>
                                </div>
                                <img src="img/testimoni/avatar3.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="testimonial">
                                <blockquote>
                                    An adhuc consequat mel, usu in utroque dolorem. Nam diceret aliquam singulis no veri.
                                </blockquote>
                                <span class="testimoni-sparator"></span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="testimoni-author">
                                <div class="author-info">
                                    <h5>Kang abin</h5>
                                    <p><a href="#">99webpage designer</a></p>
                                </div>
                                <img src="img/testimoni/avatar4.png" alt="" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="testimonial">
                                <blockquote>
                                    Minimum albucius detraxit qui eu, veniam equidem eum in, constituam referrentur ius et.
                                </blockquote>
                                <span class="testimoni-sparator"></span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="testimoni-author">
                                <div class="author-info">
                                    <h5>Mang idi</h5>
                                    <p><a href="#">99webpage marketing</a></p>
                                </div>
                                <img src="img/testimoni/avatar5.png" alt="" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="testimonial">
                                <blockquote>
                                    Aperiri facilis in pro, vis idque harum ex, ex vocent utroque similique vi intellegebat eam.
                                </blockquote>
                                <span class="testimoni-sparator"></span>
                            </div>
                            <div class="clearfix"></div>
                            <div class="testimoni-author">
                                <div class="author-info">
                                    <h5>Ceu onah</h5>
                                    <p><a href="#">99webpage co-marketing</a></p>
                                </div>
                                <img src="img/testimoni/avatar6.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- End testimoni -->

    <div class="clearfix"></div>

    <!-- Start client -->
    @*<section id="client" class="contain gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow fadeInUp" data-wow-delay="0.4s">
                        <ul class="client-list">
                            <li>
                                <ul>
                                    <li>
                                        <a href="#" class="client-link">
                                            <span class="logo-hover"><img src="img/client/logo1-hover.png" alt="" /></span>
                                            <img src="img/client/logo1.png" class="client-logo" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="client-link">
                                            <span class="logo-hover"><img src="img/client/logo2-hover.png" alt="" /></span>
                                            <img src="img/client/logo2.png" class="client-logo" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="client-link">
                                            <span class="logo-hover"><img src="img/client/logo3-hover.png" alt="" /></span>
                                            <img src="img/client/logo3.png" class="client-logo" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="client-link">
                                            <span class="logo-hover"><img src="img/client/logo4-hover.png" alt="" /></span>
                                            <img src="img/client/logo4.png" class="client-logo" alt="" />
                                        </a>
                                    </li>
                                    <li class="last">
                                        <a href="#" class="client-link">
                                            <span class="logo-hover"><img src="img/client/logo5-hover.png" alt="" /></span>
                                            <img src="img/client/logo5.png" class="client-logo" alt="" />
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="bottom-list">
                                <ul>
                                    <li>
                                        <a href="#" class="client-link">
                                            <span class="logo-hover"><img src="img/client/logo6-hover.png" alt="" /></span>
                                            <img src="img/client/logo6.png" class="client-logo" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="client-link">
                                            <span class="logo-hover"><img src="img/client/logo7-hover.png" alt="" /></span>
                                            <img src="img/client/logo7.png" class="client-logo" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="client-link">
                                            <span class="logo-hover"><img src="img/client/logo8-hover.png" alt="" /></span>
                                            <img src="img/client/logo8.png" class="client-logo" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="client-link">
                                            <span class="logo-hover"><img src="img/client/logo9-hover.png" alt="" /></span>
                                            <img src="img/client/logo9.png" class="client-logo" alt="" />
                                        </a>
                                    </li>
                                    <li class="last">
                                        <a href="#" class="client-link">
                                            <span class="logo-hover"><img src="img/client/logo10-hover.png" alt="" /></span>
                                            <img src="img/client/logo10.png" class="client-logo" alt="" />
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- End client -->

    <div class="clearfix"></div>

    <!-- Start contact -->
    @*<section id="contact">
            <div class="contact-contain">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-12 wow fadeInUp" data-wow-delay="0.4s">
                            <h3 class="heading"><span>Contact</span>Get in touch with us</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 wow fadeInDown" data-wow-delay="0.4s">
                            <form id="contactform" action="contact/contact.php" method="post" class="validateform" name="leaveContact">
                                <div class="clearfix"></div>
                                <div id="sendmessage">
                                    <div class="alert alert-info marginbot35">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        Your message has been sent. Thank you!
                                    </div>
                                </div>
                                <ul class="listForm">
                                    <li>
                                        <i class="pe-7s-users"></i>
                                        <input class="form-control input-name" type="text" name="name" data-rule="required" data-msg="Required field" placeholder="Enter your full name" />
                                        <div class="validation"></div>
                                    </li>
                                    <li>
                                        <i class="pe-7s-mail"></i>
                                        <input class="form-control input-email" type="text" name="email" data-rule="email" data-msg="Please enter a valid email" placeholder="Enter your email address" />
                                        <div class="validation"></div>
                                    </li>
                                    <li class="push">
                                        <i class="pe-7s-paper-plane"></i>
                                        <textarea class="form-control input-message" rows="6" name="message" data-rule="required" data-msg="Please write something for us" placeholder="Write something for us"></textarea>
                                        <div class="validation"></div>
                                    </li>
                                    <li class="push text-center">
                                        <input type="submit" value="Send message" class="btn btn-primary btn-lg" name="Submit" />
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <!-- End contact -->


    <div class="clearfix"></div>

    <!-- Start footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @*<div class="social-network">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-skype"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>*@
                    <p>Umbraco version 7.7.4</p>
                    <p>Tinifier version 1.4.3</p>
                    <p>2017 © Powered By <a href="//backend-devs.com/">Backend Devs</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-easing-1.3.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        document.getElementById("loading").className = "loading-visible";
        var hideDiv = function () { document.getElementById("loading").className = "loading-invisible"; };
        var oldLoad = window.onload;
        var newLoad = oldLoad ? function () { hideDiv.call(this); oldLoad.call(this); } : hideDiv;
        window.onload = newLoad;
    </script>
    <!-- End preloading -->
    <!-- Fixed navigation -->
    <script src="js/navigation/waypoints.min.js"></script>
    <script src="js/navigation/jquery.smooth-scroll.js"></script>
    <script src="js/navigation/navbar.js"></script>
    <!-- JavaScript video background -->
    <script src="js/yt-player/jquery.mb.YTPlayer.js"></script>
    <script src="js/yt-player/setting.js"></script>

    <!-- Wow -->
    <script src="js/wow/wow.min.js"></script>
    <script src="js/wow/setting.js"></script>

    <!-- Parallax -->
    <script src="js/parallax/jquery.parallax-1.1.3.js"></script>
    <script src="js/parallax/setting.js"></script>

    <!-- flexslider -->
    <script src="js/flexslider/jquery.flexslider.js"></script>
    <script src="js/flexslider/setting.js"></script>
    <!-- prettyPhoto -->
    <script src="js/prettyPhoto/jquery.prettyPhoto.js"></script>
    <script src="js/prettyPhoto/setting.js"></script>

    <!-- counters -->
    <script src="js/counters/jquery.appear.js"></script>
    <script src="js/counters/stellar.js"></script>
    <script src="js/counters/setting.js"></script>
    <!-- Owl carousel -->
    <script src="js/owlcarousel/owl.carousel.js"></script>
    <script src="js/owlcarousel/setting.js"></script>

    <!-- Totop -->
    <script src="js/totop/jquery.ui.totop.js"></script>
    <script src="js/totop/setting.js"></script>
    <!-- youtube player -->
    <script src="js/youtube-player/jquery.swfobject.1-1-1.min.js"></script>
    <script src="js/youtube-player/youTubeEmbed-jquery.js"></script>
    <script src="js/youtube-player/setting.js"></script>

    <!-- Contact validation -->
    <script src="js/validation.js"></script>

    <!-- Customn javascript -->
    <script src="js/custom.js"></script>
</body>
</html>
